<h1 mat-dialog-title>Добавление нового партнера</h1>
<div mat-dialog-content>
  <p>Введите данные:</p>
  <mat-form-field appearance="fill">
    <mat-label>Наименование</mat-label>
    <input matInput [(ngModel)]="partner.companyName">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Описание</mat-label>
    <input matInput [(ngModel)]="partner.description">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>email</mat-label>
    <input matInput [(ngModel)]="partner.email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Телефон</mat-label>
    <input matInput [(ngModel)]="partner.phone">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Тип</mat-label>
    <mat-select #typeSelector>
      <mat-option *ngFor="let t of types" [value]="t">
        {{t}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Отмена</button>
  <button mat-raised-button color="primary" (click)="savePartner()">Добавить</button>
</div>
