<div class="left-menu">
  <mat-list>
    <a routerLink="/products">
      <button mat-raised-button color="accent" class="left-menu-button" >Продукты</button>
    </a>
  </mat-list>
  <mat-list>
    <a routerLink="/partners">
      <button mat-raised-button color="accent">Партнеры</button>
    </a>
  </mat-list>
  <mat-list>
    <a routerLink="/supplier-operations">
      <button mat-raised-button color="accent">Поставки</button>
    </a>
  </mat-list>
  <mat-list>
    <a routerLink="/consumer-operations">
      <button mat-raised-button color="accent">Продажи</button>
    </a>
  </mat-list>
</div>
