<h1 mat-dialog-title>Изменение информации об операции о поставке</h1>
<div mat-dialog-content>
  <p>Введите данные:</p>
  <mat-form-field appearance="fill">
    <mat-label>Описание</mat-label>
    <input matInput [(ngModel)]="supplierOperation.comment">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Цена</mat-label>
    <input matInput [(ngModel)]="supplierOperation.price">
  </mat-form-field>
  <mat-form-field appearance="fill" dataformatas="date">
    <mat-label>Получено</mat-label>
    <input matInput [(ngModel)]="supplierOperation.received">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Партнер</mat-label>
    <mat-select #matSelect placeholder="Партнер" [(value)]="supplierOperation.partner.companyName">
      <mat-option *ngFor="let partner of partners" [value]="partner.companyName">
        {{partner.companyName}}
      </mat-option>
      <a routerLink="/partners">
        <button mat-stroked-button class="selector-button" (click)="onCancelClick()">
          Добавить партнера...
          <mat-icon>account_circle</mat-icon>
        </button>
      </a>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Продукт</mat-label>
    <mat-select #productsSelector [(value)]="supplierOperation.product.name">
      <mat-option *ngFor="let product of products" [value]="product.name">
        {{product.name}}
      </mat-option>
      <a routerLink="/products">
        <button mat-stroked-button class="selector-button" (click)="onCancelClick()">
          Добавить продукт...
          <mat-icon>spa</mat-icon>
        </button>
      </a>
    </mat-select>
  </mat-form-field>

</div>
<div mat-dialog-actions class="button-container">
  <button mat-button (click)="onCancelClick()">Отмена</button>
  <button mat-raised-button color="primary" (click)="setSupplierOperation()">Изменить</button>
</div>
